.feedback {
    border: 0;

    &__overlay{
        position: fixed;
        background: rgba(0,0,0,.7);
    }
/*
    &__close {
    }

    &__form {
    }

    &__form-title {
    }

    &__input-wrapper {
    }

    &__input-legend {
    }

    &__comment {
    }

    &__response {
    }

    &__title {
    }

    &__response-text {
    }

    &__username {
    }
    */
}
/*
.--sended {
}
.--salat {
}
.--error {
}
.--meat {
}

*/