.feedback {
    border: 0;
    z-index: 7;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;

    &__overlay{
        position: absolute;
        background: rgba(0,0,0,.7);
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
    }
    &__wrapper{
        position: relative;
        z-index: 100;
        background-color: #fff;
        padding: 3rem 3rem 4.5rem;
        max-width: 62rem;
        background-image: url(../../../img/products/oil.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-color: #fff;
        &.--response{
            background-position: 95% 98%;
            transition: all .3s;
        }
    }
    &__close {
        height: 2rem;
        width: 2rem;
        display: block;
        position: absolute;
        right: -1rem;
        top: -1rem;
        background-color: $main-salat;
        border-radius: 50%;
        border: 1px solid $main-salat;
        background-size: contain;
        background-position: center;
        @include btn_anim(1.1, 0.9);
    }
    &__input-wrapper {
        display: block;
        &+&{
            margin-top: 1.5rem;
        }
    }
    &__input-legend {
        display: block;
        width: 30.5rem;
    }
    
    &__input-field {
        margin-top: 0.25rem;
    }
    &__form-title {
        font-size: 2.25rem;
        text-align: center;
    }
    &__comment {
        min-height: 8rem;
        background-color: transparent;
        margin-top: 1.5rem;
    }
    &__input-field,
    &__comment {
        display: block;
        padding: 0.5rem 1rem;
        width: 100%;        
    }
    &__response {
        display: none;
        opacity: 0;
    }
    &__send-btn{
        display: block;
        margin: 1.5rem auto 0;
        padding: .5rem 3rem;
    }
    &__form{}
    
    &__response-text {
        max-width: 23.25rem;
        margin-right: 8rem;
    }

    
}
/*
.--sended {
}
.--salat {
}
.--error {
}
.--meat {
}

*/