.counter {
	// display: flex;
	// align-items: center;
	// justify-content: space-between;


	&__btn {
		border: 1px solid $color-grey;
		border-radius: 0.5rem;
		padding:0 0.5rem;
		line-height: 1.33;
		font-weight: 300;
		height: 2rem;
		display: block;
		margin: 0;
		background-color: #fff;
		color: $color-text;
		// flex: 0 0 2rem;
		/*@include tr;*/

		&:hover{
			background: transparent;
			color: $color-text;
		}

		&:hover.--minus {
			border-color: $main-meat;
			color: $main-meat;
		}

		&:hover.--plus {
			border-color: $main-green;
			color: $main-green;
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&__text{
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.33;
		color: $color-text;
		margin: 1.5rem;
	}

	&__btn-text {
		font-size: 1.5rem;
		color: inherit;
		/*@include tr;*/
	}

	&__input {
		display: block;
		flex: 1 1 4rem;
		min-width: 4rem;
		max-width: 6rem;
		height: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
		border: none;
		background-color: #fff;
		font-size: 24px;
		font-weight: 500;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}