.about {
  max-width: 98rem;
  padding: 6rem 2rem;
  margin: 0 auto;
  &__title{
    text-align: center;
    position: relative;
  }

  &__block{
    position: relative;    
    
    &::before{
      z-index: 1;
      content: '';
      display: block;
      position: absolute;
      height: 105%;
      width: 12rem;
      top: 0;
      left: 0;  
      background-color: rgba(104, 136, 0, .4);
    }

    &+&{
      margin-top: 6rem;
      margin-right: auto;

      &::before{
        left: auto;
        right: 0;
      }
    }
  }

  &__block-content{
    position: relative; 
    margin-top: 6.5rem;  
    margin-left: auto;  
    background-color: #fff;
    padding: 3rem;
    max-width: 58rem;
    z-index: 3;
    box-shadow: $shadow-about-block;
    min-height: 21rem;
  }

  &__picture{
    position: absolute;
    height: 100%;
    width: 33rem;
    object-fit: cover;
    object-position: center top;
    top: -3rem;
    z-index: 2;
    left: 5.25rem;
  }

  &__block:last-child{
    .about__block-content{
      margin-left: 0;
      margin-right: auto;
    }
    .about__picture{
      // position: absolute;
      // bottom: -3rem;
      right: 5.25rem;
      left: auto;
      // z-index: 2;
      // height: 22.25rem;
      // width: 33rem;
    }
  }
  &__subtitle{
    margin-bottom: 1rem;
  }
  &__text{
    line-height: 1.5;
  }
}