.footer {
    background-color: $main-green;
    padding: 3.25rem 0;

    &__wrapper {
        width: 100%;
        max-width: 96rem;
        padding: 0 1rem;
        margin: 0 auto;
    }

    &__social {
        list-style: none;
    }

    &__social-item {
        &+&{
            margin-left: 2rem;
        }
    }

    &__social-link {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        @include btn_anim(1.1, 0.9);

        &:focus{
            outline: transparent;
        }

        &:focus-visible{
            transform: translateY(-20%);
        }
    }
    &__logo{
        width: 3.5rem;
        height: 7.25rem;
    }
}

