.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    padding: 6rem 1rem 0;
    gap: 1.25rem;

    &__title{
        grid-column: 1/-1;

        margin-bottom: 3rem;
        text-align: center;
    }
}

