.product-card {
    padding: 1.5rem;
    flex-direction: column;
    transition: all .5s;    
 
    &__wrapper {
        margin-bottom: 1rem;
        position: relative;     
        height: 14.5rem;
        width: auto;   
        &::before, &::after{
            content: '';
            position: absolute;
            border-radius: 50%;
            @include centering('h');
            z-index: 0;
            transition: all .5s;
            opacity: 0;
        }
    }

    &__picture {
        height: 100%;
        object-fit: contain;
        transition: all .5s;
    }

    &__inner {
     
    }

    &__title {
    }

    &__descr {
        margin-top: 1rem;
        color: $color-text;
    }

    &__components {
        margin-top: 1rem;
        color: $color-text;
    }

    &__components-title {
    }

    &__container {
        margin-top: 1.5rem;
    }

    &__counter {
    }

    &__volume {
        margin-left: auto;
        color: $color-text;
    }

    &__price {
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 700;        
    }

    &__btn{
        width: 8rem;
    }

    &:hover {
        box-shadow: 0.75rem 0.75rem 2rem rgba(190, 191, 183, .1);
        
        .product-card__wrapper {    
            &::before{
                width: 14.75rem;
                height: 14.75rem;
                top: -2.5rem;
                opacity: 1;
                transition: all 1s;
            }    
            
            &::after{
                width: 16.75rem;
                height: 16.75rem;
                top: -3.5rem;
                // background: $color-grey;
                box-shadow: 20px 20px 30px rgba(0, 0, 0, .1);
                opacity: .2;
                transition: all 1s;
            }
            .product-card__picture{
                position: absolute;
                z-index: 1;
                transform: scale(1.5) rotate(10deg) translateX(-30%);
                left: 50%;
                top: -15%;
                transition: all .25s;
            }
        }
    }
    
    
}



