<footer class="footer">
    <div class="footer__wrapper flex --align-center --just-space">
        <div class="footer__logo">
            @@include('../bem-blocks/logo/_logo.html')
        </div>
        
        @@include('../bem-blocks/menu/_menu.html')

        <ul class="footer__social flex --align-center --just-space">
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__facebook--white" arial-label="Facebook"></a>
            </li>
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__instagram--white" arial-label="Instagram"></a>
            </li>
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__telegram--white" arial-label="Telegram"></a>
            </li>
            <li class="footer__social-item">
                <a href="#" class="footer__social-link --svg__viber--wihite" arial-label="Viber"></a>
            </li>
        </ul>      
        
        
    </div>
</footer>
