<section class="testimonials" id="testimonials">
    <h2 class="testimonials__title section-title">Reviews</h2>
    <div class="swiper testimonials__slider">      
        
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-1.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-2.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-3.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-4.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-5.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-6.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-7.png" 
                        alt="test-1">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <img 
                        class="testimonials__item-content"
                        src="img/testimonials/testimonial-8.png" 
                        alt="test-1">
                </div>
            </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <video
                        class="testimonials__item-content"
                        control>
                        <source
                            src="img/testimonials/testimonial-video-1.mp4" 
                            type="video/mp4"
                        >
                    </video>        
                </div>
            </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <video
                        class="testimonials__item-content"
                        control>
                        <source
                            src="img/testimonials/testimonial-video-2.mp4" 
                            type="video/mp4"
                        >
                    </video>        
                </div>
            </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <video
                        class="testimonials__item-content"
                        control>
                        <source
                            src="img/testimonials/testimonial-video-3.mp4" 
                            type="video/mp4"
                        >
                    </video>        
                </div>
            </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonials__item-wrapper">
                    <video
                        class="testimonials__item-content"
                        control>
                        <source
                            src="img/testimonials/testimonial-video-4.mp4" 
                            type="video/mp4"
                        >
                    </video>        
                </div>
            </div>
        </div>
    
        <div class="swiper-button-prev --svg__slider-arrow"></div>
        <div class="swiper-button-next --svg__slider-arrow"></div>			
    </div>
           
    <div class="swiper-pagination"></div>
    
</section>