<section class="about" id="about">
    <h2 class="about__title section-title">About</h2>
    <article class="about__block --top">
        <img class="about__picture" src="img/products/about.jpg" alt="about">

        <div class="about__block-content">
            <h3 class="about__subtitle">Who are We?</h3>            
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
            <p class="about__text">
                Lorem, ipsum dolor 
            </p>
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
        </div>
    </article>
    <article class="about__block --bottom">
        <img class="about__picture" src="img/products/wedo.jpg" alt="wedo">

        <div class="about__block-content">
            <h3 class="about__subtitle">What are we producing?</h3>        
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
            <p class="about__text">
                Lorem, ipsum dolor 
            </p>
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
            <p class="about__text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, delectus nemo.
            </p>
        </div>
    </article>
</section>
