<div class="delivery flex --align-center --just-center" id="delivery">
    <article class="delivery__part flex --align-center --just-end">
        <picture class="delivery__part-picture">
            <img class="delivery__part-img" src="../../img/products/olive.png" alt="olive">
        </picture>
        <div class="delivery__part-group">
            
                <figure class="delivery__picture">
                    <img class="delivery__picture-icon" 
                        src="../../img/svg/npvaposhta.svg" 
                        alt="npvaposhta">
                    <figcaption class="delivery__picture-descr">Nova Posta</figcaption>
                </figure>    
                <figure class="delivery__picture">
                    <img class="delivery__picture-icon" 
                        src="../../img/svg/ukrposhta.svg" 
                        alt="ukrposhta">
                    <figcaption class="delivery__picture-descr">UkrPosta</figcaption>    
                </figure>    
                <figure class="delivery__picture">
                    <img class="delivery__picture-icon" 
                        src="../../img/svg/shop.svg" 
                        alt="shop">
                    <figcaption class="delivery__picture-descr">PickUp</figcaption>
                </figure>
           
            <h3 class="delivery__part-title">- Delivery</h3> 
        </div>  
    </article>
    <article class="delivery__part flex --align-center">
        <picture class="delivery__part-picture">
            <img class="delivery__part-img" src="../../img/products/spice.png" alt="olive">
        </picture>
        <div class="delivery__part-group">
            <h3 class="delivery__part-title">Payment -</h3> 
            <figure class="delivery__picture">
                <img class="delivery__picture-icon" 
                    src="../../img/svg/coins.svg" 
                    alt="coins">
                <figcaption class="delivery__picture-descr">Сash on delivery</figcaption>
            </figure>    
            <figure class="delivery__picture">
                <img class="delivery__picture-icon" 
                    src="../../img/svg/credit-card.svg" 
                    alt="credit-card">
                <figcaption class="delivery__picture-descr">Privat24</figcaption>    
            </figure>    
            <figure class="delivery__picture">
                <img class="delivery__picture-icon" 
                    src="../../img/svg/cash.svg" 
                    alt="cash">
                <figcaption class="delivery__picture-descr">Сash on pickup</figcaption>
            </figure> 
        </div>       
        
    </article>
</div>
