@include font-face("AmaticSC-Bold", "AmaticSC-Bold", 400);
@include font-face("AmaticSC-Regular", "AmaticSC-Regular", 400);
@include font-face("ElMessiri-Bold", "ElMessiri-Bold", 400);
@include font-face("ElMessiri-Regular", "ElMessiri-Regular", 400);
@include font-face("Roboto-Bold", "Roboto-Bold", 400);
@include font-face("Roboto-BoldItalic", "Roboto-BoldItalic", 400);
@include font-face("Roboto-Italic", "Roboto-Italic", 400);
@include font-face("Roboto-Light", "Roboto-Light", 400);
@include font-face("Roboto-LightItalic", "Roboto-LightItalic", 400);
@include font-face("Roboto-Regular", "Roboto-Regular", 400);
